#project {
    padding: 60px;
}

#filtro {
    margin: 10px 0;
}

#imagen_filtrada,
#imagen_original {
    background-color: White;
}

.imagenes {
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.imagenes canvas {
    margin: 15px;
    width: 45%;
}

@media (max-width: 880px) {
    .imagenes {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        margin: 15px auto;
        flex-direction: column;
        width: max-content;
    }
}

#image_input {
    margin: 10px;
}
